extends layout

block content
    a link
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex fugit maiores perferendis quia rerum, unde. Animi, aperiam nesciunt. Ab ducimus earum fugit id molestias perferendis quos ratione, reiciendis tempore.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex fugit maiores perferendis quia rerum, unde. Animi, aperiam nesciunt. Ab ducimus earum fugit id molestias perferendis quos ratione, reiciendis tempore.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex fugit maiores perferendis quia rerum, unde. Animi, aperiam nesciunt. Ab ducimus earum fugit id molestias perferendis quos ratione, reiciendis tempore.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex fugit maiores perferendis quia rerum, unde. Animi, aperiam nesciunt. Ab ducimus earum fugit id molestias perferendis quos ratione, reiciendis tempore.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex fugit maiores perferendis quia rerum, unde. Animi, aperiam nesciunt. Ab ducimus earum fugit id molestias perferendis quos ratione, reiciendis tempore.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex fugit maiores perferendis quia rerum, unde. Animi, aperiam nesciunt. Ab ducimus earum fugit id molestias perferendis quos ratione, reiciendis tempore.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex fugit maiores perferendis quia rerum, unde. Animi, aperiam nesciunt. Ab ducimus earum fugit id molestias perferendis quos ratione, reiciendis tempore.
block aside
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore enim error minima nesciunt rem! Accusantium aut autem beatae commodi dignissimos dolore harum maiores obcaecati odio pariatur provident quia ratione, voluptatem.