doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='Description',content='boke')
        meta(name='viewport',content='width=device-width,initial-scale=1,user-scalable=no')
        link(rel="Shortcut Icon" href="/images/avatar.jpeg")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header.header.show#header-bind
            div.pad-l-r.clear.max-width
                a(href='/',title='首页')
                    h1.main-title.left 聆听的博客
                nav.nav.right
                    ul.pc
                        li.nav-btn
                            a(href='/') 首页
                        li.nav-btn
                            a(href='/original') 原创
                            ul.pc-sec-menu.white-card
                                li
                                    a(href='/original?type=dev') 开发
                                li
                                    a(href='/original?type=life') 生活
                                li
                                    a(href='/originalL') 归档
                                li
                                    a(href='/about') 关于我
                        li.nav-btn
                            a(href='/reprint') 转载
                            ul.pc-sec-menu.white-card
                                li
                                    a(href='/reprint?type=client') 前端
                                li
                                    a(href='/reprint?type=server') 后端
                                li
                                    a(href='/reprint?type=sql') 数据库
                        li.nav-btn
                            a(href='/lab') 实验室
                        li.nav-btn
                            a.nav-btn(href='/tool') 资源工具
                            ul.pc-sec-menu.white-card
                                li
                                    a(href='/reprint?type=sql') 开发
                                li
                                    a(href='/reprint?type=sql') 办公
                                li
                                    a(href='/reprint?type=sql') 娱乐
                    div.mobile
                        div.menu-btn#menu-bind-js
                            i.menu-btn-top-line
                            i.menu-btn-middle-line
                            i.menu-btn-bottom-line
                ul.menu-list#menu-list-bind-js.white-card
                    li
                        a(href='/') 首页
                    li
                        a(href='/original') 原创
                    li
                        a(href='/reprint') 转载
                    li
                        a(href='/lab') 实验室
                    li
                        a(href='/tool') 工具库
                    li
                        a(href='/original?type=dev') 原创-开发
                    li
                        a(href='/original?type=life') 原创-生活
                    li
                        a(href='/originalL') 原创-归档
                    li
                        a(href='/about') 关于我
                    li
                        a(href='/reprint?type=client') 转载-前端
                    li
                        a(href='/reprint?type=server') 转载-后端
                    li
                        a(href='/reprint?type=sql') 转载-数据库
                    li
                        a(href='/reprint?type=sql') 资源工具-开发
                    li
                        a(href='/reprint?type=sql') 资源工具-办公
                    li
                        a(href='/reprint?type=sql') 资源工具-娱乐
        div.main-container.max-width
            block main-container
        footer.footer.clear
            div.max-width.pad-l-r.pc
                a(href="http://www.baidu.com") 链接
            div.mobile.show#footer-bind
                a 移动端底部导航
        script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js' defer)
        script(src='/javascripts/main.js' defer)
        block scriptInclude