extends  ../public/layoutbasic
include ../../components/card
include ../../components/card-style1
include  ../../components/pagination
block main-container
    div.pad
        h2.sub-title=`资源工具${role ? '/' + role : ''}`
        if(list && list.length)
            each value in list
                div.col-card-little-full-auto
                    div.middle-card
                        + card-style1({
                            href: value.href,
                            title: value.title,
                            content: value.content,
                            bg: value.bg
                        })
    + pagination({
        currentPage: pagination.currentPage,
        baseUrl: pagination.baseUrl,
        sumPage: pagination.sumPage,
        size: pagination.size
    })
block scriptInclude
    script(src='/javascripts/pagination.js' defer)