extends  ../layoutbasic
include ../components/card
include ../components/tree
include ../components/articleStatistics
block main-container
    -
        var data=[
        {
        year: 2018,
        monthList: [
        {
        month: 1,
        article: [
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 1},
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 3},
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 2,
        article: [
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 1},
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 3},
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 5},
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 7}
        ]
        },
        {
        month: 3,
        article: [
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 1},
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 3},
        {title: 'Win10突然断开Wifi并无法连接的解决办法', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 4,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 5,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 6,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 7,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        }
        ]
        },
        {
        year: 2017,
        monthList: [
        {
        month: 1
        },
        {
        month: 2,
        article: []
        },
        {
        month: 3,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 4,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 5,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 6,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        },
        {
        month: 7,
        article: [
        {title: 'title', href: 'www.baidu.com', date: 1},
        {title: 'title', href: 'www.baidu.com', date: 3},
        {title: 'title', href: 'www.baidu.com', date: 5}
        ]
        }
        ]
        }
        ]

    div(title='文章归档（每天0点更新）').sub-title 原创/文章归档
    div.pad
        //h2.sub-title 文章统计
        + articleStatistics(data)
    div.pad
        h2.sub-title 文章列表
        + tree(data)