extends  ../layoutbasic
include ../components/card
include ../components/tree
include ../components/articleStatistics
block main-container
    div(title='文章归档（每天0点更新）').sub-title 原创/文章归档
    div.pad
        + articleStatistics(article,calcCount)
    div.pad
        h2.sub-title 文章列表
        + tree(article)
block scriptInclude
    script(src='/javascripts/articleChart.js' defer)