extends  ../public/layoutbasic
include ../../components/card
include ../../components/card-show-list
include  ../../components/pagination
include ../../components/buttons-level

block main-container
    div.pad
        div.pad-l-r
            a(href='/tag') >按标签检索
    div.pad
        h2.sub-title 原创列表
        if(articleList && articleList.length)
            each value in articleList
                div.col-card-little-full-auto
                    div.middle-card
                        + main-card(value)
    + pagination({currentPage: paginate.currentPage, baseUrl: paginate.baseUrl, sumPage: paginate.sumPage, size: 7})
block scriptInclude
    script(src='/javascripts/pagination.js' defer)