:root {
    --header-bg-color: #fff;
    --mian-bg-color: #fff;
    --footer-bg-color: rgba(12, 6, 6, 0.25);
    --max-width: 1300px;
}

/*同意浏览器样式*/
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
    text-align: left;
}

ul li {
    list-style: none;
}

.inline-block {
    display: inline-block;
}

/*公共样式*/
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #f90;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.pad {
    padding: 10px;
}

.pad-l-r {
    padding: 0 10px;
}

.white-card {
    background: #fff;
    box-shadow: 0 0 4px 1px #2323235e;
    border-radius: 4px;
}

.middle-card {
    margin: 10px;
    padding: 5px;
    border: 1px solid #5973ff;
    border-radius: 4px;
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
}

/*头部样式*/
.header {
    background: var(--header-bg-color);
    box-shadow: 0 0 2px 1px #00000042;
    position: fixed;
    left: 0;
    right: 0;
    top: -50px;
    transition: top .5s;
}

.header.show {
    top: 0;
    transition: top .5s;
}

/*大标题*/
.main-title {
    font-size: 19px;
    margin: 10px;
    color: #000;
}

/*副标题*/
.sub-title {
    font-size: 16px;
    margin-left: 10px;
    border-bottom: 1px solid red;
    margin-bottom: 0;
}

.aside-title {
    font-size: 16px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    margin-bottom: 0;
}

/*导航部分*/
.nav .pc {
    display: inline-block;
}

.nav .mobile {
    display: none;
}

.nav {
    font-size: 0;
}

.nav .pc, .nav .mobile {
    font-size: 16px;
}

.nav-btn {
    display: inline-block;
    line-height: 50px;
    font-size: 1rem;
    margin-left: 15px;
}

/*手机导航*/
/*菜单按钮*/
.menu-btn {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    margin: 5px;
}

/*菜单按钮样式及动画*/
.menu-btn > i {
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: black;
}

.menu-btn .menu-btn-top-line {
    top: 14px;
    transition: all .2s;
}

.menu-btn .menu-btn-middle-line {
    top: 20px;
    transition: all .2s;
}

.menu-btn .menu-btn-bottom-line {
    top: 26px;
    transition: all .2s;
}

.menu-btn.active .menu-btn-top-line {
    top: 18px;
    transform: rotateZ(45deg);
    transition: all .2s;
}

.menu-btn.active .menu-btn-middle-line {
    top: 18px;
    opacity: 0;
    transition: all .2s;
}

.menu-btn.active .menu-btn-bottom-line {
    top: 18px;
    transform: rotateZ(-45deg);
    transition: all .2s;
}

/*手机版菜单展开项内容*/
.menu-list.active {
    opacity: 1;
    margin: 50px 10px 10px;
    transition: all .5s ease-in-out;
}

.menu-list {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: -100px 10px 10px;
    padding: 10px;
    transition: all .5s ease-in-out;
}

/*
.menu-list:after {
    content: '';
    display: block;
    background: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    right: 18px;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    transform: rotateZ(45deg);
}
*/

.menu-list li {
    display: inline-block;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

/*PC二级菜单*/
.pc .nav-btn:hover .pc-sec-menu {
    visibility: visible;
}

.pc .nav-btn:last-child .pc-sec-menu {
    margin-right: 16px;
}

.pc-sec-menu {
    position: absolute;
    visibility: hidden;
    color: #000;
    margin-left: -14px;
}

/*二级菜单箭头*/
.pc-sec-menu:after {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: white;
    position: absolute;
    top: -14px;
    left: 24px;
}

/*电脑版二级菜单动画*/
.pc-sec-menu li {
    position: relative;
    line-height: 2rem;
    text-align: center;
}

.pc-sec-menu li:after, .pc-sec-menu li:before {
    position: absolute;
    content: '';
    border-top: 1px solid currentColor;
    border-left: 1px solid currentColor;
    width: 5px;
    height: 5px;
    top: 12px;
}

.pc-sec-menu li:hover {
    background: rgba(0, 0, 0, 0.18);
}

.pc-sec-menu li:hover:before {
    transform: rotateZ(135deg);
    left: 1px;
    opacity: 1;
    transition: all .5s;

}

.pc-sec-menu li:hover:after {
    transform: rotateZ(-45deg);
    right: 2px;
    opacity: 1;
    transition: all .5s;
}

.pc-sec-menu li:before {
    transform: rotateZ(135deg);
    left: -15px;
    opacity: 0;
    transition: all .5s;
}

.pc-sec-menu li:after {
    transform: rotateZ(-45deg);
    right: -15px;
    opacity: 0;
    transition: all .5s;
}

/*中间容器样式*/
.main-container {
    background: var(--mian-bg-color);
    min-height: calc(100vh - 90px);
    overflow: hidden;
}

.max-width.main-container {
    margin-top: 50px;
}

.main > div {
    margin-right: 300px;
}

.aside {
    width: 300px;
    margin-left: -300px;
}

/*底部样式*/

.footer .pc {
    height: 40px;
    background: var(--footer-bg-color);
}

.footer .mobile {
    background: var(--header-bg-color);
    height: 40px;
    display: none;
    box-shadow: 0 0 2px 1px #00000042;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -40px;
    transition: bottom .5s;
}

.footer .mobile.show {
    bottom: 0;
    transition: bottom .5s;
}

.footer .pc {
    text-align: right;
    line-height: 40px;
}

.main {
    width: 100%;
}

/*媒体查询隐藏侧边栏*/
@media screen and (max-width: 650px) {
    .main > div {
        margin-right: 0;
    }

    .aside {
        display: none;
    }
}

/*手机电脑导航栏,footer切换*/
@media screen and (max-width: 500px) {
    .nav .pc {
        display: none;
    }

    .nav .mobile {
        display: inline-block;
    }

    .footer .pc {
        display: none;
    }

    .footer .mobile {
        display: block;
    }

    .main-container {
        min-height: calc(100vh - 50px);
    }

    .max-width.main-container {
        margin-bottom: 50px;
    }
}

/*卡片的响应式*/
.col-card-little-auto, .col-card-middle-auto {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 450px) {
    .col-card-little-auto {
        width: 50%;
    }
}

@media screen and (min-width: 650px) {
    .col-card-little-auto {
        width: 100%;
    }
}

@media screen and (min-width: 750px) {
    .col-card-little-auto {
        width: 50%;
    }
}

@media screen and (min-width: 950px) {
    .col-card-little-auto {
        width: 33.33333333%;
    }

    .col-card-middle-auto {
        width: 50%;
    }
}

@media screen and (min-width: 1100px) {
    .col-card-little-auto {
        width: 25%;
    }
}

/*首页侧边栏*/
.aside-list li:before {
    content: "\00BB \0020";
}

.aside-list.limit-height {
    overflow: hidden;
    max-height: 50px;
}

.aside-list.limit-height.active {
    max-height: 500px;
    transition: max-height 1s;
}

/*
.aside-list li {
    list-style: circle;
    margin: 5px 0 5px 20px;
    text-align: justify;
    font-size: 0;
}

.aside-list li > span {
    font-size: 1rem;
}

.aside-list li:after {
    content: '';
    display: inline-table;
    width: 100%;
}*/
