:root {
    --header-bg-color: #ffcae8;
    --mian-bg-color: #ffd5a3;
    --footer-bg-color: #c1c0c3;
    --max-width: 1000px;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #00B7FF;
}

ul {
    padding-left: 0;
    margin: 0;
    text-align: left;
    background: #c2ff52;
}

ul li {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.pad {
    padding: 10px;
}

.white-card {
    background: #faf4ff;
    box-shadow: 0 0 4px 1px #2323235e;
    border-radius: 4px;
}

.pad-l-r {
    padding: 0 10px;
}

.header {
    background: var(--header-bg-color);
}

.main-container {
    background: var(--mian-bg-color);
    min-height: calc(100vh - 90px);
}

.footer {
    background: var(--footer-bg-color);
    height: 40px;
}

.main-title {
    font-size: 19px;
    margin: 10px;
}

.nav .pc {
    display: inline-block;
}

.nav {
    font-size: 0;
}

.nav .pc, .nav .mobile {
    font-size: 16px;
}

.nav-btn {
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    margin-left: 15px;
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
}

.footer div {
    text-align: right;
    line-height: 40px;
}

.main {
    width: 100%;
}

.main > div {
    margin-right: 300px;
}

.aside {
    width: 300px;
    margin-left: -300px;
}

.nav .mobile {
    display: none;
}

@media screen and (max-width: 650px) {
    .main > div {
        margin-right: 0;
    }

    .aside {
        display: none;
    }
}

/*手机电脑导航栏切换*/
@media screen and (max-width: 500px) {
    .nav .pc {
        display: none;
    }

    .nav .mobile {
        display: inline-block;
    }

    .footer {
        display: none;
    }

    .main-container {
        min-height: calc(100vh - 50px);
    }

}

/*手机导航*/
.menu-btn {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.menu-btn > i {
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: black;
}

.menu-btn .menu-btn-top-line {
    top: 14px;
    transition: all .2s;
}

.menu-btn .menu-btn-middle-line {
    top: 20px;
    transition: all .2s;
}

.menu-btn .menu-btn-bottom-line {
    top: 26px;
    transition: all .2s;
}

.menu-btn.active .menu-btn-top-line {
    top: 18px;
    transform: rotateZ(45deg);
    transition: all .2s;
}

.menu-btn.active .menu-btn-middle-line {
    top: 18px;
    opacity: 0;
    transition: all .2s;
}

.menu-btn.active .menu-btn-bottom-line {
    top: 18px;
    transform: rotateZ(-45deg);
    transition: all .2s;
}

.menu-list.active {
    /*display: block;*/
    opacity: 1;
    margin: 50px 10px 10px;
    transition: all .5s ease-in-out;
}

/*手机版菜单展开项内容*/
.menu-list {
    /*display: none;*/
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: -100px 10px 10px;
    padding: 10px;
    transition: all .5s ease-in-out;
}

/*
.menu-list:after {
    content: '';
    display: block;
    background: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    right: 18px;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    transform: rotateZ(45deg);
}
*/

.menu-list li {
    display: inline-block;
    width: 25%;
    text-align: center;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    padding: 5px;
}

.nav-btn:hover {
    color: rgba(159, 177, 255, 0.98);
}

/*二级菜单*/
.pc .nav-btn:hover .pc-sec-menu {
    visibility: visible;
}

.pc .nav-btn:last-child .pc-sec-menu {
    right: 10px;
}

.pc .nav-btn:last-child .pc-sec-menu:after {
    right: 26px;
    left: auto;
}

.pc-sec-menu {
    position: absolute;
    visibility: hidden;
    font-size: 1rem;
    line-height: 1;
}

/*二级菜单箭头*/
.pc-sec-menu:after {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: white;
    position: absolute;
    top: -14px;
    left: 13px;
}

/*///////////////////*/
/*电脑版二级菜单动画*/
.pc-sec-menu li {
    position: relative;
    line-height: 1.2em;
}

.pc-sec-menu li:after, .pc-sec-menu li:before {
    position: absolute;
    content: '';
    border-top: 1px solid red;
    border-left: 1px solid red;
    width: 5px;
    height: 5px;
    top: 8px;
}

.pc-sec-menu li:hover {
    background: rgba(0, 0, 0, 0.18);
}

.pc-sec-menu li:hover:before {
    transform: rotateZ(135deg);
    left: -2px;
    opacity: 1;
    transition: all .5s;

}

.pc-sec-menu li:hover:after {
    transform: rotateZ(-45deg);
    right: 2px;
    opacity: 1;
    transition: all .5s;
}

.pc-sec-menu li:before {
    transform: rotateZ(135deg);
    left: -15px;
    opacity: 0;
    transition: all .5s;
}

.pc-sec-menu li:after {
    transform: rotateZ(-45deg);
    right: -15px;
    opacity: 0;
    transition: all .5s;
}

/*/////////////////////*/
