extends  ../layout
block content
    div.pad
        h2.sub-title 原创更新
        div.col-card-little-auto
            div.middle-card
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores cumque debitis eius id minus, necessitatibus perspiciatis recusandae reiciendis rem reprehenderit rerum similique, ullam unde veniam voluptas, voluptate voluptates!
        div.col-card-little-auto
            div.middle-card
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores cumque debitis eius id minus, necessitatibus perspiciatis recusandae reiciendis rem reprehenderit rerum similique, ullam unde veniam voluptas, voluptate voluptates!
        div.col-card-little-auto
            div.middle-card
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores cumque debitis eius id minus, necessitatibus perspiciatis recusandae reiciendis rem reprehenderit rerum similique, ullam unde veniam voluptas, voluptate voluptates!
        div.col-card-little-auto
            div.middle-card
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores cumque debitis eius id minus, necessitatibus perspiciatis recusandae reiciendis rem reprehenderit rerum similique, ullam unde veniam voluptas, voluptate voluptates!
    div.pad
        h2.sub-title 我的关注
        div.col-card-little-auto
            div.middle-card
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores cumque debitis eius id minus, necessitatibus perspiciatis recusandae reiciendis rem reprehenderit rerum similique, ullam unde veniam voluptas, voluptate voluptates!
        div.col-card-little-auto
            div.middle-card
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores cumque debitis eius id minus, necessitatibus perspiciatis recusandae reiciendis rem reprehenderit rerum similique, ullam unde veniam voluptas, voluptate voluptates!
        div.col-card-little-auto
            div.middle-card
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores cumque debitis eius id minus, necessitatibus perspiciatis recusandae reiciendis rem reprehenderit rerum similique, ullam unde veniam voluptas, voluptate voluptates!
        div.col-card-little-auto
            div.middle-card
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores cumque debitis eius id minus, necessitatibus perspiciatis recusandae reiciendis rem reprehenderit rerum similique, ullam unde veniam voluptas, voluptate voluptates!
    div.pad
        div.col-card-middle-auto
            h2.sub-title 文章推荐
            div.middle-card
                p Lorem ipsum dolor sit ametlvoluptate voluptates!div.col-card-little-auto
        div.col-card-middle-auto
            h2.sub-title 友情链接
            div.middle-card
                p Lorem ipsum dolor sit ametlvoluptate voluptates!div.col-card-little-auto
block aside
    div.pad(style='box-shadow: 0 0px 2px 1px #00000078;')
        h2.aside-title 最新文章
        ul.aside-list
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem
        h2.aside-title 文章列表
        ul.aside-list.limit-height.active
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem