extends ../public/layoutbasic
block main-container
    div.pad
        h1.sub-title 友链页面
        div.pad(style='max-width:600px;margin:0 auto')
            if(linkGroup && linkGroup.length)
            each val in linkGroup
                h2.sub-title-no-line= val.title
                ul.pad(style='padding-left:20px')
                    each value in val.links
                        li.col-card-little-auto
                            a(href=value.url target='_blank')= value.title