extends  ../public/layout
include ../../components/card
include ../../components/card-show-list
include ../../components/card-introduce
include ../../components/buttons-level
block content
    div.pad
        h2.sub-title 原创更新
        if(originalList && originalList.length)
            each value in originalList
                div.col-card-little-auto
                    div.middle-card
                        + main-card({
                            href: value.href,
                            title: value.title,
                            content: value.content,
                            count: value.count,
                            bg: value.bg,
                            category: value.category
                        })
    div.pad
        h2.sub-title 我的关注
        if(reprintList && reprintList.length)
            each  value in reprintList
                div.col-card-little-auto
                    div.middle-card
                        + card-show-list({
                            title: value.title,
                            bg: value.bg,
                            list: value.list
                        })
    div.pad
        h2.sub-title 文章推荐
        if(articleRecommendList && articleRecommendList.length)
            ul
                each value in articleRecommendList
                    li.pad.col-card-middle-auto
                        + card-introduce(value)
    div.pad
        h2.sub-title 开发网站链接
        div.pad
            if(otherWebsite)
                + buttons-level(otherWebsite)
    //div.pad
    //    div.col-card-middle-auto
    //        h2.sub-title 文章推荐
    //        ul.middle-card
    //            if(articleRecommendList && articleRecommendList.length)
    //                each value in articleRecommendList
    //                    li.pad
    //                        + card-introduce(value)
    //    div.col-card-middle-auto
    //        h2.sub-title 开发网站链接
    //        div.middle-card
    //            if(otherWebsite)
    //            + card-show-list({
    //                list: otherWebsite
    //            })
block aside
    div.pad(style='box-shadow: 0 0px 2px 1px #00000078;')
        h2.aside-title 最新文章
        ul.aside-list
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem
        h2.aside-title 文章列表
        ul.aside-list.limit-height.active
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem lorem lorem
            li
                a(href="#") lorem lorem lorem lorem