extends  ../public/layout
include ../../components/card
include ../../components/card-show-list
include ../../components/card-introduce
include ../../components/buttons-level
block content
    div.pad
        h2.sub-title 原创更新
        if(originalList && originalList.length)
            each value in originalList
                div.col-card-little-auto
                    div.middle-card
                        + main-card({
                            href: value.href,
                            title: value.title,
                            content: value.content,
                            count: value.count,
                            bg: value.bg,
                            category: value.category
                        })
    if(reprintList && reprintList.length)
        div.pad
            h2.sub-title 我的关注
                each  value in reprintList
                    div.col-card-little-auto
                        div.middle-card
                            + card-show-list({
                                title: value.title,
                                bg: value.bg,
                                list: value.list
                            })
    div.pad
        h2.sub-title 文章推荐
        if(articleRecommendList && articleRecommendList.length)
            ul
                each value in articleRecommendList
                    li.pad.col-card-middle-auto
                        + card-introduce(value)
    div.pad
        h2.sub-title 开发网站链接
        div.pad
            if(otherWebsite)
                + buttons-level(otherWebsite)
block aside
    div.pad(style='box-shadow: 0 0px 2px 1px #00000078;')
        if(hotArticle && hotArticle.length)
            h2.aside-title 热门文章
            if(hotArticle && hotArticle.length)
            ul.aside-list
                each value in hotArticle
                    li
                        a(href=`/article/${value.index}`)= value.title
        h2.aside-title 文章类别
        div(style='font-weight:200')
            + buttons-level(category)