extends  ../public/layoutbasic
include ../../components/buttons-level

block main-container
    div.pad
        h2.sub-title= title
        ul.pad.tag-container
            each value,index in tagList
                if value.color
                    li(style=`background:${value.color}`)
                        a(href=`/tag/${value.key_word}`)=value.title
                else
                    li
                        a(href=`/tag/${value.key_word}`)=value.title
block scriptInclude