extends  ../public/layoutbasic
include ../../components/card
include ../../components/card-style1
include  ../../components/pagination
include  ../../components/table
block main-container
    div.pad.text_center
        a.mar(href='/tool/category?type=dev') 开发归档
        a.mar(href='/tool/category?type=office') 办公归档
        a.mar(href='/tool/category?type=life') 娱乐归档
        a.mar(href='/tool/category?type=txt') 文档
    div.pad
        h2.sub-title=`资源工具${role ? '-' + role : ''}归档`
        div.pad
            + table(list,[
                {name: '序号', key: 'index'},
                {name: '名称', key: 'title'},
                {name: '内容', key: 'description'},
                {name: '地址', key: 'url', isLink: true},
                {name: '类型', key: 'type'},
                {name: '背景图片', key: 'bg_url', isLink: true}
            ])
    + pagination({
        currentPage: pagination.currentPage,
        baseUrl: pagination.baseUrl,
        sumPage: pagination.sumPage,
        size: pagination.size
    })
block scriptInclude
    script(src='/javascripts/pagination.js' defer)